# База данных
DATABASE_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/<dbname>?retryWrites=true&w=majority

# Порт сервера
SERVER_PORT=3000

# Тайминги
SESSION_TIMEOUT=3600

# Токены
JWT_SECRET=YOUR_JWT_SECRET_HERE
